<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iidooo.cms.mapper.CmsChannelMapper">
	<resultMap id="BaseResultMap" type="com.iidooo.cms.model.po.CmsChannel">
		<id column="ChannelID" property="channelID" jdbcType="INTEGER" />
		<result column="SiteID" property="siteID" jdbcType="INTEGER" />
		<result column="ParentID" property="parentID" jdbcType="INTEGER" />
		<result column="ChannelName" property="channelName" jdbcType="VARCHAR" />
		<result column="ChannelPath" property="channelPath" jdbcType="VARCHAR" />
		<result column="MetaTitle" property="metaTitle" jdbcType="VARCHAR" />
		<result column="MetaKeywords" property="metaKeywords" jdbcType="VARCHAR" />
		<result column="MetaDescription" property="metaDescription" jdbcType="VARCHAR" />
		<result column="Sequence" property="sequence" jdbcType="INTEGER" />
		<result column="Remarks" property="remarks" jdbcType="VARCHAR" />
		<result column="CreateTime" property="createTime" jdbcType="TIMESTAMP" />
		<result column="CreateUserID" property="createUserID" jdbcType="INTEGER" />
		<result column="UpdateTime" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="UpdateUserID" property="updateUserID" jdbcType="INTEGER" />
		<result column="IsDelete" property="isDelete" jdbcType="INTEGER" />
		<result column="Version" property="version" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		C.ChannelID, C.SiteID, C.ParentID, C.ChannelName, C.ChannelPath, C.MetaTitle, C.MetaKeywords, C.MetaDescription,
		C.Sequence, C.Remarks, C.CreateTime, C.CreateUserID, C.UpdateTime, C.UpdateUserID, C.IsDelete,
		C.Version
	</sql>
	
	<!-- 通过ChannelPath获取CmsChannel对象 -->
	<select id="selectByChannelPath" resultMap="BaseResultMap" parameterType="com.iidooo.cms.model.po.CmsChannel">
		select
		<include refid="Base_Column_List" />
		from cms_channel C
		where C.SiteID = #{siteID,jdbcType=INTEGER} and 
		C.ChannelPath = #{channelPath,jdbcType=VARCHAR} and C.IsDelete = 0
	</select>
	
	<!-- 通过ChannelID获取CmsChannel对象 -->
	<select id="selectByChannelID" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from cms_channel C
		where C.ChannelID = #{channelID,jdbcType=INTEGER} and C.IsDelete = 0
	</select>

	<!-- 查询栏目一览 -->
	<select id="selectChannelList" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from cms_channel C
		join cms_site S
		on 
		C.IsDelete = 0 and S.IsDelete = 0 and 
		S.SiteID = C.SiteID and S.SiteCode = #{siteCode,jdbcType=VARCHAR}
		order by Sequence
	</select>
	
	<!-- 通过站点ID查询栏目一览 -->
	<select id="selectBySiteID" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from cms_channel C
		where C.IsDelete = 0 and C.SiteID = #{siteID,jdbcType=INTEGER}
		order by Sequence
	</select>

	<!-- 插入一个栏目对象 -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="channelID" parameterType="com.iidooo.cms.model.po.CmsChannel">
		insert into cms_channel
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="siteID != null">
				SiteID,
			</if>
			<if test="parentID != null">
				ParentID,
			</if>
			<if test="channelName != null">
				ChannelName,
			</if>
			<if test="channelPath != null">
				ChannelPath,
			</if>
			<if test="metaTitle != null">
				MetaTitle,
			</if>
			<if test="metaKeywords != null">
				MetaKeywords,
			</if>
			<if test="metaDescription != null">
				MetaDescription,
			</if>
				Sequence,
			<if test="remarks != null">
				Remarks,
			</if>
			<if test="createTime != null">
				CreateTime,
			</if>
			<if test="createUserID != null">
				CreateUserID,
			</if>
			<if test="updateUserID != null">
				UpdateUserID,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="siteID != null">
				#{siteID,jdbcType=INTEGER},
			</if>
			<if test="parentID != null">
				#{parentID,jdbcType=INTEGER},
			</if>
			<if test="channelName != null">
				#{channelName,jdbcType=VARCHAR},
			</if>
			<if test="channelPath != null">
				#{channelPath,jdbcType=VARCHAR},
			</if>
			<if test="metaTitle != null">
				#{metaTitle,jdbcType=VARCHAR},
			</if>
			<if test="metaKeywords != null">
				#{metaKeywords,jdbcType=VARCHAR},
			</if>
			<if test="metaDescription != null">
				#{metaDescription,jdbcType=VARCHAR},
			</if>
			(select ifnull(Max(Sequence),0) from cms_channel L where L.ParentID = #{parentID,jdbcType=INTEGER} and L.IsDelete = 0) + 1,
			<if test="remarks != null">
				#{remarks,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createUserID != null">
				#{createUserID,jdbcType=INTEGER},
			</if>
			<if test="updateUserID != null">
				#{updateUserID,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	
	<!-- 通过栏目ID更新栏目 -->
	<update id="updateByChannelID" parameterType="com.iidooo.cms.model.po.CmsChannel">
		update cms_channel
		<set>
			<if test="parentID != null">
				ParentID = #{parentID,jdbcType=INTEGER},
			</if>
			<if test="channelName != null">
				ChannelName = #{channelName,jdbcType=VARCHAR},
			</if>
			<if test="channelPath != null">
				ChannelPath = #{channelPath,jdbcType=VARCHAR},
			</if>
			<if test="metaTitle != null">
				MetaTitle = #{metaTitle,jdbcType=VARCHAR},
			</if>
			<if test="metaKeywords != null">
				MetaKeywords = #{metaKeywords,jdbcType=VARCHAR},
			</if>
			<if test="metaDescription != null">
				MetaDescription = #{metaDescription,jdbcType=VARCHAR},
			</if>
			<if test="sequence != null">
				Sequence = #{sequence,jdbcType=INTEGER},
			</if>
			<if test="remarks != null">
				Remarks = #{remarks,jdbcType=VARCHAR},
			</if>
			<if test="updateUserID != null">
				UpdateUserID = #{updateUserID,jdbcType=INTEGER},
			</if>
			Version = Version + 1,
		</set>
		where ChannelID = #{channelID,jdbcType=INTEGER}
	</update>	
	
	<!-- 通过栏目ID删除栏目 -->
	<update id="deleteByChannelID" parameterType="java.lang.Integer">
		update cms_channel		
		<set>
			IsDelete = 1,
			UpdateUserID = #{updateUserID,jdbcType=INTEGER},
			Version = Version + 1,
		</set>
		where ChannelID = #{channelID,jdbcType=INTEGER}
	</update>

</mapper>