<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iidooo.cms.mapper.CmsContentFileMapper" >
  <resultMap id="BaseResultMap" type="com.iidooo.cms.model.po.CmsContentFile" >
    <id column="ContentID" property="contentID" jdbcType="INTEGER" />
    <result column="DownTimes" property="downTimes" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    ContentID, DownTimes
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from cms_content_file
    where ContentID = #{contentID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cms_content_file
    where ContentID = #{contentID,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.iidooo.cms.model.po.CmsContentFile" >
    insert into cms_content_file (ContentID, DownTimes)
    values (#{contentID,jdbcType=INTEGER}, #{downTimes,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.iidooo.cms.model.po.CmsContentFile" >
    insert into cms_content_file
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="contentID != null" >
        ContentID,
      </if>
      <if test="downTimes != null" >
        DownTimes,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="contentID != null" >
        #{contentID,jdbcType=INTEGER},
      </if>
      <if test="downTimes != null" >
        #{downTimes,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.iidooo.cms.model.po.CmsContentFile" >
    update cms_content_file
    <set >
      <if test="downTimes != null" >
        DownTimes = #{downTimes,jdbcType=INTEGER},
      </if>
    </set>
    where ContentID = #{contentID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.iidooo.cms.model.po.CmsContentFile" >
    update cms_content_file
    set DownTimes = #{downTimes,jdbcType=INTEGER}
    where ContentID = #{contentID,jdbcType=INTEGER}
  </update>
</mapper>