<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iidooo.cms.mapper.CmsFileMapper" >
  <resultMap id="BaseResultMap" type="com.iidooo.cms.model.po.CmsFile" >
    <id column="FileID" property="fileID" jdbcType="INTEGER" />
    <result column="ContentID" property="contentID" jdbcType="INTEGER" />
    <result column="FileName" property="fileName" jdbcType="VARCHAR" />
    <result column="FileURL" property="fileURL" jdbcType="VARCHAR" />
    <result column="FileSize" property="fileSize" jdbcType="BIGINT" />
    <result column="FileType" property="fileType" jdbcType="VARCHAR" />
    <result column="Sequence" property="sequence" jdbcType="INTEGER" />
    <result column="Remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="UpdateTime" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="UpdateUserID" property="updateUserID" jdbcType="INTEGER" />
    <result column="CreateTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CreateUserID" property="createUserID" jdbcType="INTEGER" />
    <result column="IsDelete" property="isDelete" jdbcType="INTEGER" />
    <result column="Version" property="version" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    F.FileID, F.ContentID, F.FileName, F.FileURL, F.FileSize, F.FileType, F.Sequence, F.Remarks, F.UpdateTime, 
    F.UpdateUserID, F.CreateTime, F.CreateUserID, F.IsDelete, F.Version
  </sql>
  
  <!-- 通过ContentID获得文件列表 -->
  <select id="selectByContentID" resultMap="BaseResultMap" parameterType="java.lang.Integer">
  	select 
    <include refid="Base_Column_List" />
    from cms_file F
    where F.IsDelete = 0 and F.ContentID = #{contentID,jdbcType=INTEGER}
  </select>
  
  <!-- 通过FileID获取CmsFile对象 -->
  <select id="selectByFileID" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from cms_file F
    where F.IsDelete = 0 and F.FileID = #{fileID,jdbcType=INTEGER}
  </select>
  
  <!-- 插入文件 -->
  <insert id="insert" useGeneratedKeys="true" keyProperty="fileID"  parameterType="com.iidooo.cms.model.po.CmsFile" >
    insert into cms_file
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="contentID != null" >
        ContentID,
      </if>
      <if test="fileName != null" >
        FileName,
      </if>
      <if test="fileURL != null" >
        FileURL,
      </if>
      <if test="fileSize != null" >
        FileSize,
      </if>
      <if test="fileType != null" >
        FileType,
      </if>
        Sequence,
      <if test="remarks != null" >
        Remarks,
      </if>
      <if test="updateUserID != null" >
        UpdateUserID,
      </if>
      <if test="createTime != null" >
        CreateTime,
      </if>
      <if test="createUserID != null" >
        CreateUserID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="contentID != null" >
        #{contentID,jdbcType=INTEGER},
      </if>
      <if test="fileName != null" >
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileURL != null" >
        #{fileURL,jdbcType=VARCHAR},
      </if>
      <if test="fileSize != null" >
        #{fileSize,jdbcType=BIGINT},
      </if>
      <if test="fileType != null" >
        #{fileType,jdbcType=VARCHAR},
      </if>
      (select ifnull(Max(Sequence),0) from cms_file F where F.ContentID = #{contentID,jdbcType=INTEGER} and F.IsDelete = 0) + 1,
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="updateUserID != null" >
        #{updateUserID,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserID != null" >
        #{createUserID,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  
  <!-- 通过FileID更新文件对象 -->
  <update id="updateByFileID" parameterType="com.iidooo.cms.model.po.CmsFile" >
    update cms_file
    <set >
      <if test="contentID != null" >
        ContentID = #{contentID,jdbcType=INTEGER},
      </if>
      <if test="fileName != null" >
        FileName = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileURL != null" >
        FileURL = #{fileURL,jdbcType=VARCHAR},
      </if>
      <if test="fileSize != null" >
        FileSize = #{fileSize,jdbcType=BIGINT},
      </if>
      <if test="fileType != null" >
        FileType = #{fileType,jdbcType=VARCHAR},
      </if>
      <if test="sequence != null" >
        Sequence = #{sequence,jdbcType=INTEGER},
      </if>
      <if test="remarks != null" >
        Remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="updateUserID != null" >
        UpdateUserID = #{updateUserID,jdbcType=INTEGER},
      </if>
      Version = Version + 1
    </set>
    where FileID = #{fileID,jdbcType=INTEGER}
  </update>
  
  <!-- 通过FileID删除文件对象 -->
  <update id="deleteByFileID" parameterType="com.iidooo.cms.model.po.CmsFile" >
    update cms_file
    <set>      
      <if test="updateUserID != null" >
        UpdateUserID = #{updateUserID,jdbcType=INTEGER},
      </if>
        Version = Version + 1, 
        IsDelete = 1
    </set>
    where FileID = #{fileID,jdbcType=INTEGER}
  </update>

</mapper>