<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iidooo.cms.mapper.CmsSiteUserMapper" >
  <resultMap id="BaseResultMap" type="com.iidooo.cms.model.po.CmsSiteUser" >
    <id column="RelID" property="relID" jdbcType="INTEGER" />
    <result column="SiteID" property="siteID" jdbcType="INTEGER" />
    <result column="UserID" property="userID" jdbcType="INTEGER" />
    <result column="Role" property="role" jdbcType="VARCHAR" />
    <result column="Remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="UpdateTime" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="UpdateUserID" property="updateUserID" jdbcType="INTEGER" />
    <result column="CreateTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CreateUserID" property="createUserID" jdbcType="INTEGER" />
    <result column="IsDelete" property="isDelete" jdbcType="INTEGER" />
    <result column="Version" property="version" jdbcType="INTEGER" />
    <association select="selectUser" column="userID" property="user" javaType="com.iidooo.core.model.po.SecurityUser"></association>
  </resultMap>
  <sql id="Base_Column_List" >
    SU.RelID, SU.SiteID, SU.UserID, SU.Role, SU.Remarks, SU.UpdateTime, SU.UpdateUserID, SU.CreateTime, SU.CreateUserID, 
    SU.IsDelete, SU.Version
  </sql>
  
  <!-- selectUser -->
  <resultMap id="UserResultMap" type="com.iidooo.core.model.po.SecurityUser">
		<id column="UserID" property="userID" jdbcType="INTEGER" />
		<result column="LoginID" property="loginID" jdbcType="VARCHAR" />
		<result column="Password" property="password" jdbcType="VARCHAR" />
		<result column="UserName" property="userName" jdbcType="VARCHAR" />
		<result column="Mobile" property="mobile" jdbcType="VARCHAR" />
		<result column="Email" property="email" jdbcType="VARCHAR" />
		<result column="Sex" property="sex" jdbcType="CHAR" />
		<result column="Birthday" property="birthday" jdbcType="DATE" />
		<result column="WeixinID" property="weixinID" jdbcType="VARCHAR" />
		<result column="PhotoURL" property="photoURL" jdbcType="VARCHAR" />
		<result column="IsSilent" property="isSilent" jdbcType="INTEGER" />
		<result column="IsDisable" property="isDisable" jdbcType="INTEGER" />
		<result column="UserType" property="userType" jdbcType="VARCHAR" />
		<result column="Level" property="level" jdbcType="INTEGER" />
		<result column="Points" property="points" jdbcType="INTEGER" />
		<result column="Experience" property="experience" jdbcType="INTEGER" />
		<result column="Remarks" property="remarks" jdbcType="VARCHAR" />
		<result column="UpdateTime" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="UpdateUserID" property="updateUserID" jdbcType="INTEGER" />
		<result column="CreateTime" property="createTime" jdbcType="TIMESTAMP" />
		<result column="CreateUserID" property="createUserID" jdbcType="INTEGER" />
		<result column="IsDelete" property="isDelete" jdbcType="INTEGER" />
		<result column="Version" property="version" jdbcType="INTEGER" />
	</resultMap>
	<sql id="User_Column_List">
		U.UserID, U.LoginID, U.Password, U.UserName, U.Mobile, U.Email, U.Sex, U.Birthday, U.WeixinID, U.PhotoURL,
		U.IsSilent, U.IsDisable,
		U.UserType, U.Level, U.Points, U.Experience, U.Remarks, U.UpdateTime, U.UpdateUserID,
		U.CreateTime, U.CreateUserID, U.IsDelete, U.Version
	</sql>
	<select id="selectUser" resultMap="UserResultMap" parameterType="java.lang.Integer">
		select
		<include refid="User_Column_List" />
		from security_user U
		where U.UserID = #{userID,jdbcType=INTEGER}
	</select>
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from cms_site_user
    where RelID = #{relID,jdbcType=INTEGER}
  </select>
  
  <!-- 通过站点ID和用户ID获得站点用户对象 -->
  <select id="selectBySiteUserID" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from cms_site_user SU
    where SU.SiteID = #{siteID,jdbcType=INTEGER} and SU.UserID = #{userID,jdbcType=INTEGER}
  </select>
  
  <!-- 检索站点的用户数量 -->
  <select id="selectCountForSearch" resultType="java.lang.Integer" parameterType="com.iidooo.cms.model.vo.SearchCondition">
	select count(SU.RelID)
	from cms_site_user SU
	join security_user U
	on SU.IsDelete = 0 and U.IsDelete = 0 and SU.UserID = U.UserID
	<if test="siteID != null and siteID != 0">
		and SU.SiteID = #{siteID,jdbcType=INTEGER}
	</if>
	<if test="startDateTime != null and startDateTime != ''">
		and SU.CreateTime &gt;= #{startDateTime}
	</if>
	<if test="endDateTime != null and endDateTime != ''">
		and SU.CreateTime &lt;= #{endDateTime}
	</if>
	<if test="roles != null and roles.size > 0">
		and SU.Role in 
		<foreach collection="roles" item="item" index="index" open="(" separator="," close=")">
			#{item}
		</foreach>
	</if>
	<if test="loginID != null and loginID != ''">
		and U.LoginID like '%${loginID}%'
	</if>
	<if test="userName != null and userName != ''">
		and U.UserName like '%${userName}%'
	</if>
	<if test="sex != null and sex != ''">
		and U.Sex = #{sex}
	</if>
	<if test="mobile != null and mobile != ''">
		and U.Mobile like '%${mobile}%'
	</if>
	<if test="email != null and email != ''">
		and U.Email like '%${email}%'
	</if>
	<if test="weixinID != null and weixinID != ''">
		and U.WeixinID like '%${weixinID}%'
	</if>
  </select>
  
  <!-- 检索站点的用户 -->
  <select id="selectForSearch" resultMap="BaseResultMap">
  	select 
	<include refid="Base_Column_List" />
	from cms_site_user SU
	join security_user U
	on SU.IsDelete = 0 and U.IsDelete = 0 and SU.UserID = U.UserID
	<if test="condition.siteID != null and condition.siteID != 0">
		and SU.SiteID = #{condition.siteID,jdbcType=INTEGER}
	</if>
	<if test="condition.startDateTime != null and condition.startDateTime != ''">
		and SU.CreateTime &gt;= #{condition.startDateTime}
	</if>
	<if test="condition.endDateTime != null and condition.endDateTime != ''">
		and SU.CreateTime &lt;= #{condition.endDateTime}
	</if>
	<if test="condition.roles != null and condition.roles.size > 0">
		and SU.Role in 
		<foreach collection="condition.roles" item="item" index="index" open="(" separator="," close=")">
			#{item}
		</foreach>
	</if>
	<if test="condition.loginID != null and condition.loginID != ''">
		and U.LoginID like '%${condition.loginID}%'
	</if>
	<if test="condition.userName != null and condition.userName != ''">
		and U.UserName like '%${condition.userName}%'
	</if>
	<if test="condition.sex != null and condition.sex != ''">
		and U.Sex = #{condition.sex}
	</if>
	<if test="condition.mobile != null and condition.mobile != ''">
		and U.Mobile like '%${condition.mobile}%'
	</if>
	<if test="condition.email != null and condition.email != ''">
		and U.Email like '%${condition.email}%'
	</if>
	<if test="condition.weixinID != null and condition.weixinID != ''">
		and U.WeixinID like '%${condition.weixinID}%'
	</if>
	<if test="page != null">
		order by ${page.sortField} ${page.sortType}
		limit ${page.start}, ${page.pageSize}
	</if>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cms_site_user
    where RelID = #{relID,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.iidooo.cms.model.po.CmsSiteUser" >
    insert into cms_site_user (RelID, SiteID, UserID, 
      Role, Remarks, UpdateTime, 
      UpdateUserID, CreateTime, CreateUserID, 
      IsDelete, Version)
    values (#{relID,jdbcType=INTEGER}, #{siteID,jdbcType=INTEGER}, #{userID,jdbcType=INTEGER}, 
      #{role,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateUserID,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{createUserID,jdbcType=INTEGER}, 
      #{isDelete,jdbcType=INTEGER}, #{version,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.iidooo.cms.model.po.CmsSiteUser" >
    insert into cms_site_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="relID != null" >
        RelID,
      </if>
      <if test="siteID != null" >
        SiteID,
      </if>
      <if test="userID != null" >
        UserID,
      </if>
      <if test="role != null" >
        Role,
      </if>
      <if test="remarks != null" >
        Remarks,
      </if>
      <if test="updateTime != null" >
        UpdateTime,
      </if>
      <if test="updateUserID != null" >
        UpdateUserID,
      </if>
      <if test="createTime != null" >
        CreateTime,
      </if>
      <if test="createUserID != null" >
        CreateUserID,
      </if>
      <if test="isDelete != null" >
        IsDelete,
      </if>
      <if test="version != null" >
        Version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="relID != null" >
        #{relID,jdbcType=INTEGER},
      </if>
      <if test="siteID != null" >
        #{siteID,jdbcType=INTEGER},
      </if>
      <if test="userID != null" >
        #{userID,jdbcType=INTEGER},
      </if>
      <if test="role != null" >
        #{role,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserID != null" >
        #{updateUserID,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserID != null" >
        #{createUserID,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  
  <!-- 通过站点ID和用户ID更新站点用户信息 -->
  <update id="updateBySiteUserID" parameterType="com.iidooo.cms.model.po.CmsSiteUser" >
    update cms_site_user
    <set >
      <if test="role != null" >
        Role = #{role,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        Remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="updateUserID != null" >
        UpdateUserID = #{updateUserID,jdbcType=INTEGER},
      </if>
        Version = Version + 1
    </set>
    where SiteID = #{siteID,jdbcType=INTEGER} and UserID = #{userID,jdbcType=INTEGER}
  </update>

</mapper>