<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iidooo.cms.mapper.CmsSiteMapper" >
  <resultMap id="BaseResultMap" type="com.iidooo.cms.model.po.CmsSite" >
    <id column="SiteID" property="siteID" jdbcType="INTEGER" />
    <result column="SiteCode" property="siteCode" jdbcType="VARCHAR" />
    <result column="SiteName" property="siteName" jdbcType="VARCHAR" />
    <result column="SiteURL" property="siteURL" jdbcType="VARCHAR" />
    <result column="Remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="UpdateTime" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="UpdateUserID" property="updateUserID" jdbcType="INTEGER" />
    <result column="CreateTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CreateUserID" property="createUserID" jdbcType="INTEGER" />
    <result column="IsDelete" property="isDelete" jdbcType="INTEGER" />
    <result column="Version" property="version" jdbcType="INTEGER" />
    <association select="selectCreateUser" column="createUserID" property="createUser" javaType="com.iidooo.core.model.po.SecurityUser"></association>
    <collection select="selectOwnerList" column="siteID" property="ownerList" ofType="com.iidooo.cms.model.po.CmsSiteUser"></collection>
  </resultMap>
  <sql id="Base_Column_List" >
    S.SiteID, S.SiteCode, S.SiteName, S.SiteURL, S.Remarks, S.UpdateTime, S.UpdateUserID, S.CreateTime, 
    S.CreateUserID, S.IsDelete, S.Version
  </sql>
  
  <!-- selectCreateUser -->
  <resultMap id="SecurityUserResultMap" type="com.iidooo.core.model.po.SecurityUser">
		<id column="UserID" property="userID" jdbcType="INTEGER" />
		<result column="LoginID" property="loginID" jdbcType="VARCHAR" />
		<result column="Password" property="password" jdbcType="VARCHAR" />
		<result column="UserName" property="userName" jdbcType="VARCHAR" />
		<result column="Mobile" property="mobile" jdbcType="VARCHAR" />
		<result column="Email" property="email" jdbcType="VARCHAR" />
		<result column="Sex" property="sex" jdbcType="CHAR" />
		<result column="Birthday" property="birthday" jdbcType="DATE" />
		<result column="WeixinID" property="weixinID" jdbcType="VARCHAR" />
		<result column="PhotoURL" property="photoURL" jdbcType="VARCHAR" />
		<result column="IsSilent" property="isSilent" jdbcType="INTEGER" />
		<result column="IsDisable" property="isDisable" jdbcType="INTEGER" />
		<result column="UserType" property="userType" jdbcType="VARCHAR" />
		<result column="Level" property="level" jdbcType="INTEGER" />
		<result column="Points" property="points" jdbcType="INTEGER" />
		<result column="Experience" property="experience" jdbcType="INTEGER" />
		<result column="Remarks" property="remarks" jdbcType="VARCHAR" />
		<result column="UpdateTime" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="UpdateUserID" property="updateUserID" jdbcType="INTEGER" />
		<result column="CreateTime" property="createTime" jdbcType="TIMESTAMP" />
		<result column="CreateUserID" property="createUserID" jdbcType="INTEGER" />
		<result column="IsDelete" property="isDelete" jdbcType="INTEGER" />
		<result column="Version" property="version" jdbcType="INTEGER" />
	</resultMap>
	<sql id="SecurityUser_Column_List">
		U.UserID, U.LoginID, '' as password, U.UserName, U.Mobile, U.Email, U.Sex, U.Birthday, U.WeixinID, U.PhotoURL,
		U.IsSilent, U.IsDisable,
		U.UserType, U.Level, U.Points, U.Experience, U.Remarks, U.UpdateTime, U.UpdateUserID,
		U.CreateTime, U.CreateUserID, U.IsDelete, U.Version
	</sql>
	<select id="selectCreateUser" parameterType="java.lang.Integer" resultType="com.iidooo.core.model.po.SecurityUser">
		select
		<include refid="SecurityUser_Column_List" />
		from security_user U where UserID = #{createUserID,jdbcType=INTEGER}
	</select>
	
	<!-- selectOwnerList -->
	<resultMap id="OwnerResultMap" type="com.iidooo.cms.model.po.CmsSiteUser" >
    <id column="RelID" property="relID" jdbcType="INTEGER" />
    <result column="SiteID" property="siteID" jdbcType="INTEGER" />
    <result column="UserID" property="userID" jdbcType="INTEGER" />
    <result column="Role" property="role" jdbcType="VARCHAR" />
    <result column="Remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="UpdateTime" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="UpdateUserID" property="updateUserID" jdbcType="INTEGER" />
    <result column="CreateTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CreateUserID" property="createUserID" jdbcType="INTEGER" />
    <result column="IsDelete" property="isDelete" jdbcType="INTEGER" />
    <result column="Version" property="version" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Owner_Column_List" >
    U.RelID, U.SiteID, U.UserID, U.Role, U.Remarks, U.UpdateTime, U.UpdateUserID, U.CreateTime, U.CreateUserID, 
    U.IsDelete, U.Version
  </sql>  
  <select id="selectOwnerList" resultMap="OwnerResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Owner_Column_List" />
    from cms_site_user U
    where U.SiteID = #{siteID,jdbcType=INTEGER} and U.Role in ('1','2');
  </select>
	 
  <!-- 通过站点ID获取站点对象 -->
  <select id="selectBySiteID" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from cms_site S
    where S.IsDelete = 0 and SiteID = #{siteID,jdbcType=INTEGER}
  </select>
  
  <!-- 通过站点Code获取站点对象 -->
  <select id="selectBySiteCode" resultMap="BaseResultMap" parameterType="java.lang.String">
  	select 
    <include refid="Base_Column_List" />
    from cms_site S
    where S.IsDelete = 0 and SiteCode = #{siteCode,jdbcType=VARCHAR}
  </select>
  
  <!-- 查询获取拥有者的站点列表 -->
  <select id="selectByOwner" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from cms_site S 
    join cms_site_user U
    on S.IsDelete = 0 and U.IsDelete = 0 and S.SiteID = U.SiteID
    where U.UserID = #{userID,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cms_site
    where SiteID = #{siteID,jdbcType=INTEGER}
  </delete>

  <!-- 插入站点数据 -->
  <insert id="insert" useGeneratedKeys="true" keyProperty="siteID" parameterType="com.iidooo.cms.model.po.CmsSite" >
    insert into cms_site
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="siteCode != null" >
        SiteCode,
      </if>
      <if test="siteName != null" >
        SiteName,
      </if>
      <if test="siteURL != null" >
        SiteURL,
      </if>
      <if test="remarks != null" >
        Remarks,
      </if>
      <if test="updateUserID != null" >
        UpdateUserID,
      </if>
      <if test="createTime != null" >
        CreateTime,
      </if>
      <if test="createUserID != null" >
        CreateUserID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="siteCode != null" >
        #{siteCode,jdbcType=VARCHAR},
      </if>
      <if test="siteName != null" >
        #{siteName,jdbcType=VARCHAR},
      </if>
      <if test="siteURL != null" >
        #{siteURL,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="updateUserID != null" >
        #{updateUserID,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserID != null" >
        #{createUserID,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  
  <!-- 通过站点ID来更新站点 -->
  <update id="updateBySiteID" parameterType="com.iidooo.cms.model.po.CmsSite" >
    update cms_site
    <set >
      <if test="siteName != null" >
        SiteName = #{siteName,jdbcType=VARCHAR},
      </if>
      <if test="siteURL != null" >
        SiteURL = #{siteURL,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        Remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="updateUserID != null" >
        UpdateUserID = #{updateUserID,jdbcType=INTEGER},
      </if>
        Version = Version + 1
    </set>
    where SiteID = #{siteID,jdbcType=INTEGER}
  </update>

</mapper>